In [1]:
import pandas as pd

## Quick Removal of Duplicates from Locations
* Remove duplicates of country_code/city for this data
* Ensures that there is only one value for each country_code/city pairing
* Addendum to "Scraping Coordinates" notebook, but it was getting messy

In [2]:
current_df = pd.read_csv("geographical_data/coord_locations.csv")
current_df

     country_code                   city   Latitude   Longitude
0             USA               New York  40.712775  -74.005973
1             USA              Champaign  40.116420  -88.243383
2             USA            Los Angeles  34.052234 -118.243685
3             USA                 Iselin  40.575382  -74.322370
4             USA               Woodbine  39.373817  -77.056904
...           ...                    ...        ...         ...
4118          SYC               Victoria  -4.619143   55.451315
4119          MYS  Damansara New Village   3.142145  101.649912
4120          RUS                 Frunze  63.070365  129.728320
4121          CHN                  Weiji  30.691526   98.392772
4122          CAN          Grand Prairie  55.170684 -118.800859

[4123 rows x 4 columns]

In [3]:
final_df = current_df.drop_duplicates(subset = ["country_code", "city"], ignore_index = True)
final_df

     country_code                   city   Latitude   Longitude
0             USA               New York  40.712775  -74.005973
1             USA              Champaign  40.116420  -88.243383
2             USA            Los Angeles  34.052234 -118.243685
3             USA                 Iselin  40.575382  -74.322370
4             USA               Woodbine  39.373817  -77.056904
...           ...                    ...        ...         ...
3882          SYC               Victoria  -4.619143   55.451315
3883          MYS  Damansara New Village   3.142145  101.649912
3884          RUS                 Frunze  63.070365  129.728320
3885          CHN                  Weiji  30.691526   98.392772
3886          CAN          Grand Prairie  55.170684 -118.800859

[3887 rows x 4 columns]

In [5]:
#output updated csv
final_df.to_csv("geographical_data/coord_locations.csv", index=False)

In [6]:
#output updated json
final_df.to_json("./geographical_data/coord_locations.json", orient="index")